*{
    font-family: 'Lato', Calibri, Arial,'Hanuman', serif, sans-serif;
    list-style: none;
    
}
/* Only for snippet */
.double-nav .breadcrumb-dn {
    color: #fff;
  }
  .collap-bar{
      width:50px;
      height: auto;
      background-color: green;
      padding:10px;
      margin: 30px;
      margin-top: 70px;
      font-size: 30px;
      color: #fff ;
  }
.card-border{
    border: 1px solid rgb(185, 185, 185);
    box-shadow: 5px 5px 10px rgb(212, 194, 194);
    margin-top: 20px;
}
.tophead{
    width:130px;
    margin: 0;
    color:white;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 30%;
    padding:6px 10px;
}
.back{
    display: inline-block;
    margin: auto;
    padding: 2% 2%;
    border-radius: 5px;
    background-color: rgba(255,255,255,.35);
    z-index:1;
}
.back2{
    position:relative;
    z-index:1;
    color:white;
    padding-left:5px;
    top:32%;
    font-size:24px;
    vertical-align: middle;
}
.back1>p{
    margin: 0px;
    font-size: 16px;
}
.back1{
    background-color: rgba(3, 3, 3, 0.472);
    position:absolute;
    right: 0;
    z-index: 1;
    width: 35%;
    height: 100%;
}
.title{
    color: red;
}
#custom-nav{
    border: none;
    border-bottom: green solid 5px;
}
footer {
    padding: 50px 0;
    background: #2C343E;
    color: #f2f7fd ;
    
}
footer a{
    color: #f2f7fd;
}

